<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<base href="{{ path('index') }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Cheap CS:GO Rank Boost, Per Win Boost also in Duo without using any cheats! Safe and Reliable CS:GO Rank Boost Service 24/7. "/>
    <meta name="keywords"
          content="cs, csgo, csgo boost,cs go boost, cs boosting, csgo boosting, cs go boosting, rank boost, per win boost, sboost"/>
    <meta name="author" content="SBoost Company"/>
    <title>CS GO Boosting, Rank Boost, Per Win Boost also in Duo by SBoost Professional Rank Boost Company</title>
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicons/manifest.json">
    <link rel="shortcut icon" href="img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffa500">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/owl.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/eleganticons/et-icons.css">
    <link rel="stylesheet" type="text/css" href="css/pokemongo.css">
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="js/jquery-2.2.4.js"></script>
    <!--JQuery UI JavaScript-->
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <!--JQuery UI JavaScript-->
    <script src="js/googleAnalytics.js"></script>
    <!--JavaScript for custom popups-->
    <script src="js/sweetalert-dev.js"></script>
    <!--JavaScript for custom popups-->
    <script type="text/javascript" src="js/pokemongo.js"></script>

    <script type="text/javascript" src="js/PokemonGoForm.js"></script> <!--JavaScript for Order Form-->
    <!--JavaScript for Cookies Policy-->
    <script type="text/javascript">
        window.cookieconsent_options = {
            "message": "This website uses cookies to ensure you get the best experience on our website",
            "dismiss": "Got it!",
            "learnMore": "More info",
            "link": "",
            "theme": "dark-bottom"
        };
    </script>
    <script type="text/javascript" src="js/cookieconsent.min.js"></script>
    <!--JavaScript for Cookies Policy-->
</head>

<body>
<div class="preloader">
    <img src="img/loader.gif" alt="Preloader image">
</div>
<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('index') }}"><img src="img/logo.png"
                                                                   data-active-url="img/logo-active.png"
                                                                   alt="SBoost Logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#hiw">How it Works?</a></li>
                <li><a href="#boost">Pokemon Go Boost</a></li>
                <li><a href="#faq">Faq</a></li>
                <li><a href="#" data-toggle="modal" data-target="#contactModal" class="btn btn-blue">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header id="home">
    <div class="container">
        <div class="table">
            <div class="header-text">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div id="MainTextBg">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="cut cut-top"></div>
    <div class="container">
        <div class="row intro-tables">
            <div class="col-md-4">
                <div class="intro-table intro-table-hover1">
                    <h5 class="white heading hide-hover">CS:GO Rank Boost</h5>
                    <div class="bottom">
                        <h4 class="white heading small-heading no-margin regular">You are purchasing a guaranteed
                            CS:GO Rank Boost</h4>
                        <h4 class="white heading small-pt">20% Discount</h4>
                        <a href="#boost" class="btn btn-white-fill expand" id="rankBoostButton">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro-table intro-table-hover2">
                    <h5 class="white heading hide-hover">CS:GO Per Win Boost</h5>
                    <div class="bottom">
                        <h4 class="white heading small-heading no-margin regular">Great option to buy only a few
                            games, test us or play duo with booster</h4>
                        <h4 class="white heading small-pt">20% Discount</h4>
                        <a href="#per_win_boost" class="btn btn-white-fill expand" id="perWinButton">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro-table intro-table-third">
                    <h5 class="white heading">How to Purchase</h5>
                    <div class="owl-testimonials bottom">
                        <div class="item">
                            <h4 class="white heading small-heading regular content">Choose preferred option:</h4>
                            <h4 class="white heading small-heading no-margin content" style="padding-bottom: 5%">Level
                                or Pokemon Boost</h4>
                            <h4 class="white heading small-heading regular content">Choose:</h4>
                            <h4 class="white heading small-heading no-margin content" style="padding-bottom: 10%">How
                                much LVL/Pokemon You need</h4>
                        </div>
                        <div class="item">
                            <h4 class="white heading small-heading no-margin regular content">Pay:</h4>
                            <h4 class="white heading small-heading no-margin content">Using PayPal system</h4>
                        </div>
                        <div class="item">
                            <h4 class="white heading small-heading no-margin regular content">After payment:</h4>
                            <h4 class="white heading small-heading no-margin content">Leave us your email</h4>
                            <h4 class="white heading small-heading no-margin content">We will send you confirmation
                                message</h4>
                        </div>
                        <div class="item">
                            <h4 class="white heading small-heading no-margin regular content">Check your email:</h4>
                            <h4 class="white heading small-heading no-margin content">Confirm your order by clicking
                                confirmation link in your message</h4>
                        </div>
                        <div class="item">
                            <h4 class="white heading small-heading no-margin regular content">After confirmation:</h4>
                            <h4 class="white heading small-heading no-margin content">Our booster will start
                                boosting</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="hiw" style="margin-top: -115px">
    <div class="container">
        <div class="row text-center title">
            <div class="pokeball pokeball-animated"></div>
            <h2>PokemonGo Boost</h2>
            <h4 class="light muted">The best PokemonGo Boost service.
                <br/>If you would like to increase
                Your PokemonGo account lvl,
                <br/>Catch more Pokemons,
                or just save Your time. We are here to help you.
                <br/>We are providing <b>quick
                    and safe </b> service.</h4>
        </div>
        <div class="row services">
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img src="img/icons/shield.png" alt="Cheats Free" class="icon">
                    </div>
                    <h4 class="heading">Cheats free</h4>
                    <p class="description">Our boosters don't use any sort or illegal programs to complete
                        Your order.
                        orders.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img src="img/icons/tick.png" alt="Guaranteed Rank" class="icon">
                    </div>
                    <h4 class="heading">Guaranteed rank</h4>
                    <p class="description">Purchase a guaranteed Pokemon Go Boost, get your order done or money
                        back.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img src="img/icons/headset.png" alt="24h Support" class="icon">
                    </div>
                    <h4 class="heading">24h support</h4>
                    <div class="description">
                        <ul>
                            <li class="pull-left" style="display: inline"><i
                                        class="fa fa-fw fa-facebook-square orange fa-3x"
                                        style="vertical-align: middle"></i><span
                                        class="h4 regular" style="color: #8a8e91"> @sboost.eu</span></li>
                            <li class="pull-left" style="display: inline"><i class="fa fa-fw fa-skype orange fa-3x"
                                                                             style="vertical-align: middle"></i><span
                                        class="h4 regular" style="color: #8a8e91"> sboosteu</span></li>
                            <li class="pull-left" style="display: inline"><i class="fa fa-fw fa-inbox orange fa-3x"
                                                                             style="vertical-align: middle"></i><span
                                        class="h4 regular"
                                        style="color: #8a8e91"> contact@sboost.eu</span>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="cut cut-bottom"></div>
</section>
<section id="boost">
    <div class="container">
        <div class="row title text-center">
            <h2 class="margin-top white">Pricing</h2>
            <h4 class="light white">Choose your favorite option!</h4>
        </div>
        <div class="row no-margin">
            <div class="col-md-7 no-padding col-md-offset-5 pricings text-center">
                <div class="pricing" id="per_win_boost">
                    <div id="rankBoostBoxMain" class="box-main active" data-img="img/Pokeball.jpg">
                        <h3 id="rankBoostBoxMainH3" class="h3">Account lvl boost</h3>
                        <img id="rankBoostImage" class="rankpngbig" src="img/ranks/17.png"
                             alt="Rank Boost Service"/>
                    </div>
                    <div id="rankBoostBoxSecond" class="box-second active container">
                        <form action="" method="post"> <!--Form 1 pokemon-->
                            <div class="row">
                                <div class="col-md-4">
                                    <img id="start-rank-image" class="rank-image" src="img/ranks/0.png"
                                         alt="Start Rank"/>
                                    <h5 class="h5 bold">Select your current lvl</h5>
                                    <input name="desired-rank" type="text" id="amount-start" class="h3" readonly
                                           style="border:0; color:#f6931f; font-weight:bold; width: 15%">
                                    <div id="slider-range-start"></div>
                                </div>
                                <div class="col-md-4">
                                    <img id="desired-rank-image" class="rank-image" src="img/ranks/0.png"
                                         alt="Desired Rank"/>
                                    <h5 class="h5 bold">Select your desired lvl:</h5>
                                    <label for="amount"><h4 class="h4"></h4></label>
                                    <input name="desired-rank" type="text" id="amount-end" class="h3" readonly
                                           style="border:0; color:#f6931f; font-weight:bold; width: 15%">

                                    <div id="slider-range-end"></div>
                                    <br/>

                                </div>
                                <div class="col-md-4">
                                    <h3 id="fake-price-rank-boost-h3"
                                        style="text-decoration: line-through;color: red; font-style: italic"
                                        class="h3 light">€0</h3>
                                    <h2 id="total-price-rank-boost-h2" class="h2 light">€0</h2>
                                    <input type="image" class="pay-pal-button" id="pay-pal-rank-boost-button"
                                           name="submit" src="img/paypalbuttondisabled.png" disabled/></br>
                                    <input type="hidden" name="option" value="rankBoost"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="pricing">
                    <div id='perWinBoostBoxMain' class="box-main" data-img="img/pricing2.jpg">
                        <h3 id="perWinBoostBoxMainH3" class="h3 white">Per Win Boost</h3>
                        <img id="perWinBoostImage" class="perwinpngbig" src="img/perwinboostimage.png"
                             alt="Per Win Boost Service"/>
                    </div>
                    <div id='perWinBoostBoxSecond' class="box-second container">
                        <form action="" method="post">
                            <div class="row">
                                <div class="col-md-4">
                                    <img id="current-rank-image" class="rank-image" src="img/ranks/0.png"
                                         alt="Current Rank"/>
                                    <label for="amount-pokemon"><h4 class="h4"></h4></label>
                                    </br>
                                    <input name="desired-rank" type="text" id="amount-pokemon" class="h3" readonly
                                           style="border:0; color:#f6931f; font-weight:bold; width: 15%">
                                    </br>
                                    <div id="slider-range-pokemon"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="per-win-slider-container">
                                        <label for="amount"><h4 class="h4"></h4></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h2 id="total-price-per-pokemon-h2" class="h2 light per-win-price">€4</h2>
                                    <input type="image" class="pay-pal-button-per-win"
                                           id="pay-with-pay-pal-button-per-win" name="submit"
                                           src="img/paypalbutton.png"/></br>
                                    <input type="hidden" name="option" value="perWinBoost"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-faq orange-bg" id="faq">
    <h2 class="white text-center margin-top-faq">Faq</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-twitter owl-carousel">
                    <div class="item text-center">
                        <h4 class="white light">How does it work?</h4>
                        <h4 class="light-white light">Our service is offering a way to save time for you.
                            If you would like to achieve specific goal in PokemonGO, but don't have as much time
                            You can simply ask as for help.</h4>
                    </div>
                    <div class="item text-center">
                        <h4 class="white light">Do you use cheats?</h4>
                        <h4 class="light-white light">No. Our boosters are skilled players who don't need cheats to
                            complete the order. That's why this is 100% legit.</h4>
                    </div>
                    <div class="item text-center">
                        <h4 class="white light">Will I get banned for using your service?</h4>
                        <h4 class="light-white light">No you won't. Your PokemonGo account is 100% safe.</h4>
                        We are not using any other third-party software.</h4>
                    </div>
                    <div class="item text-center">
                        <h4 class="white light"> How can I pay?</h4>
                        <h4 class="light-white light">Right now only available way of payment is PayPal,</br>
                            but you can also ask to pay via PSC (+25% price) or just using bank transfer.</h4>
                    </div>
                    <div class="item text-center">
                        <h4 class="white light"> How can I confirm my order?</h4>
                        <h4 class="light-white light">After successful payment via PayPal, we will ask you for
                            email address. Check that email for confirmation message with order details.</h4>
                    </div>
                    <div class="item text-center">
                        <h4 class="white light"> How long will it take you to get me from lvl "X" to lvl "Y"?</h4>
                        <h4 class="light-white light">We can't tell you how long it will take. It depends on a few
                            things: the size of your order, the current amount of orders and the availability of our
                            players. Sometimes it can take a couple of days and sometimes it can be done in few
                            hours.</h4>
                    </div>
                    <div class="item text-center">
                        <h4 class="white light">How long it take to walk 2/5/10 km egg?</h4>
                        <h4 class="light-white light">Our reputation is worth much more then items at steam. Anyway
                            we recommend to use STEAM GUARD on CS:GO Account. Whenever you start to use new IP
                            address your inventory is blocked for 7 days, so there is no way anyone can touch your
                            stuff. Remember to protect your account - after the boost is done we recommend to
                            deauthorize all other computers in STEAM GUARD options.</h4>
                    </div>
                    <div class="item text-center">
                        <h4 class="white light">Can I use my account during order?</h4>
                        <h4 class="light-white light">No, when we start you shouldn't log into Your PokemonGo account.
                            Let us quickly do Our job :)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <h3 class="black">Contact</h3>
            <form class="popup-form">
                <input type="text" class="form-control form-white" id="contactName" placeholder="Name"/>
                <input type="text" class="form-control form-white" id="contactEmail" placeholder="Email Address"/>
                <textarea class="form-control text-area" id="contactMessage"
                          placeholder="Type your message here"></textarea>
                <button type="button" class="btn btn-submit" id="contactSubmit">Submit</button>
            </form>
        </div>
    </div>
</div>
{#{% if dialog == 'paymentSuccessful' %}
    <div class="modal fade" id="paymentSuccessfulModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-popup">
                <h4 class="black">Payment complete. Now leave us your email, and we will send you further
                    instructions.</h4>
                <form class="popup-form">
                    <input type="text" class="form-control form-white" id="customerEmail"
                           placeholder="Email Address"/>
                    <textarea class="form-control text-area" id="customerMessage"
                              placeholder="If you have any question, please type it here"></textarea>
                    <button type="button" class="btn btn-submit" id="customerSubmit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% elseif dialog=='paymentFailure' %}
    <div class="modal fade" id="paymentFailureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-popup">
                <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
                <h4 class="black">Something went wrong with your payment. Please try again.</h4>
            </div>
        </div>
    </div>
{% elseif dialog=='insertionFailure' %}
    <div class="modal fade" id="paymentFailureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-popup">
                <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
                <h4 class="black">We received your payment but could not process order. Contact support.</h4>
            </div>
        </div>
    </div>
{% elseif dialog == 'confirmOrder' %}
    <div class="modal fade" id="confirmOrderModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-popup">
                {% if orderExist == true %}
                    {% if confirmed == true %}
                        <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
                        <h4 class="black">This order has already been confirmed.</h4>
                    {% elseif confirmed == false %}
                        {% if duo == true %}
                            <h4 class="black">To confirm your order, tell us how our booster can contact with
                                you.</h4>
                            <form class="popup-form">
                                <select class="form-control form-white" id="contactOption"
                                        style="width: 100%;border: 2px solid black; background: transparent">
                                    <option value="skype" selected>skype</option>
                                    <option value="steam">steam</option>
                                    <option value="email">email</option>
                                </select>
                                <input type="text" class="form-control form-white" id="contact"
                                       placeholder="type it here">
                                <input type="hidden" value="1" id="duo">
                                <button type="button" id="orderConfirm" class="btn btn-submit">Confirm
                                </button>
                            </form>

                        {% elseif duo == false %}
                            <h5 class="black">To confirm your order, enter your steam and password.</h5>
                            <form class="popup-form">
                                <input type="text" id="accountName" class="form-control form-white"
                                       placeholder="steam">
                                <input type="password" id="accountPassword" class="form-control form-white"
                                       placeholder="password">
                                <h6 class="black">Also tell us how our booster can contact you.</h6>
                                <select class="form-control form-white" id="contactOption"
                                        style="width: 100%;border: 2px solid black; background: transparent">
                                    <option value="skype" selected>skype</option>
                                    <option value="steam">steam</option>
                                    <option value="email">email</option>
                                </select>
                                <input type="text" class="form-control form-white" id="contact"
                                       placeholder="type it here">
                                <input type="hidden" value="0" id="duo">
                                <button type="button" id="orderConfirm" class="btn btn-submit">Confirm
                                </button>
                            </form>
                        {% endif %}
                    {% endif %}
                {% elseif orderExist == false %}
                    <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
                    <h4 class="black">Something went terribly wrong. Try contact Customer Service.</h4>
                {% endif %}
            </div>
        </div>
    </div>
    {% elseif dialog == 'register' %}
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-popup">
                <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
                <h3 class="black">Create new account</h3>
                <form class="popup-form">
                    <input type="text" class="form-control form-white" id="boosterName" placeholder="Booster name"/>
                    <input type="text" class="form-control form-white" id="boosterEmail" placeholder="Email Address"/>
                    <input type="password" class="form-control form-white" id="boosterPassword" placeholder="Password"/>
                    <input type="password" class="form-control form-white" id="retypeBoosterPassword" placeholder="Retype Password"/>
                    <button type="button" class="btn btn-submit" id="registerSubmit">Register</button>
                </form>
            </div>
        </div>
    </div>
    {% elseif dialog == 'login' %}
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-popup">
                <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
                <h3 class="black">Enter your name and password</h3>
                <form class="popup-form">
                    <input type="text" class="form-control form-white" id="boosterName" placeholder="Booster name"/>
                    <input type="password" class="form-control form-white" id="boosterPassword" placeholder="Password"/>
                    <button type="button" class="btn btn-submit" id="loginSubmit">Login</button>
                    <a href="{{ path('register') }}"><h4 class="h4">Register</h4></a>
                </form>

            </div>
        </div>
    </div>
{% endif %}#}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 text-center-mobile" align="center">
                <img src="img/footerLogo.png"/>
                <a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works"
                   onclick="window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
                    <img src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_payments_by_pp_2line.png"
                         border="0" alt="Payments by PayPal" style="margin-top: 5%">
                </a>
                <img src="img/ssl.png" style="margin-top: 5%"/>
            </div>
            <div class="col-sm-4 col-md-offset-1 text-center-mobile" align="center">
                <h3 class="white">Facebook</h3>
                <div style="border: solid 4px white" class="fb-page" data-href="https://www.facebook.com/sboosteu"
                     data-tabs="timeline" data-width="215" data-height="300" data-small-header="false"
                     data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/sboosteu" class="fb-xfbml-parse-ignore"><a
                                href="https://www.facebook.com/sboosteu">SBoost.eu</a></blockquote>
                </div>
            </div>
            <div class="col-sm-4 text-center-mobile" align="center">
                <h3 class="white">Contact</h3>
                <h4 class="h4 white">Skype: <label class="h4 white light">sboosteu</label></h4>
                <h4 class="h4 white">Email: <label class="h4 white light">contact@sboost.eu</label></h4>
                <h4 class="h4 white">Facebook: <label class="h4 white light">@sboosteu</label></h4>
                <h3 class="h3 white" style="margin-left: 10%"><label class="h3 white light">Support is</label>
                    online<span class="open-blink"></span></h3>
            </div>
        </div>
        <div class="row bottom-footer text-center-mobile">
            <div class="col-sm-8">
                <p>&copy; 2016 All Rights Reserved.</p>
            </div>
            <div class="col-sm-4 text-right text-center-mobile">
                <ul class="social-footer">
                    <li><a href="https://www.facebook.com/sboosteu"><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="mobile-nav">
    <ul>
    </ul>
    <a href="#" class="close-link"><i class="arrow_up"></i></a>
</div>
<div id="fb-root"></div>
<script src="js/facebook.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/typewriter.js"></script>
<script src="js/jquery.onepagenav.js"></script>
<script src="js/main.js"></script>
</body>
</html>